<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="f1tenth_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000366043814887055 0.0328931706606518 0.0261731878297275"
        rpy="0 0 0" />
      <mass
        value="1.35645933623779" />
      <inertia
        ixx="0.00326428828858953"
        ixy="-4.48738370702773E-07"
        ixz="2.00823868282942E-07"
        iyy="0.00376715224503621"
        iyz="5.64628213315364E-06"
        izz="0.000859127715482805" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FR_wheel">
    <inertial>
      <origin
        xyz="-0.0006889 3.4694E-18 -0.015985"
        rpy="0 0 0" />
      <mass
        value="0.15291" />
      <inertia
        ixx="7.1275E-05"
        ixy="-1.8007E-20"
        ixz="1.9398E-06"
        iyy="7.1191E-05"
        iyz="3.3727E-21"
        izz="0.0001162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/FR_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/FR_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_wheel"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="TFR_wheel" />
    <child
      link="FR_wheel" />
    <axis
      xyz="0.043057 0 0.99907" />
  </joint>
  <link
    name="FL_wheel">
    <inertial>
      <origin
        xyz="0.0006889 3.4694E-18 0.015985"
        rpy="0 0 0" />
      <mass
        value="0.15291" />
      <inertia
        ixx="7.1275E-05"
        ixy="4.0022E-21"
        ixz="1.9398E-06"
        iyy="7.1191E-05"
        iyz="4.0404E-21"
        izz="0.0001162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/FL_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/FL_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_wheel"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="TFL_wheel" />
    <child
      link="FL_wheel" />
    <axis
      xyz="-0.043057 0 -0.99907" />
  </joint>
  <link
    name="RR_wheel">
    <inertial>
      <origin
        xyz="-4.0246E-16 1.2143E-17 0.114"
        rpy="0 0 0" />
      <mass
        value="0.31029" />
      <inertia
        ixx="0.0053301"
        ixy="-5.2183E-20"
        ixz="1.6897E-17"
        iyy="0.0053301"
        iyz="-6.5303E-19"
        izz="0.00023259" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/RR_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/RR_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_wheel"
    type="continuous">
    <origin
      xyz="-0.114 0.11617 0.0075"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="RR_wheel" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="RL_wheel">
    <inertial>
      <origin
        xyz="4.0246E-16 -1.648E-17 -0.114"
        rpy="0 0 0" />
      <mass
        value="0.31029" />
      <inertia
        ixx="0.0053301"
        ixy="-5.2183E-20"
        ixz="1.6897E-17"
        iyy="0.0053301"
        iyz="-6.5303E-19"
        izz="0.00023259" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/RL_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/RL_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_wheel"
    type="continuous">
    <origin
      xyz="0.114 0.11617 0.0075"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="RL_wheel" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="imu">
    <inertial>
      <origin
        xyz="0.0030723 -5.5511E-17 -0.004"
        rpy="0 0 0" />
      <mass
        value="0.008384" />
      <inertia
        ixx="3.0478E-07"
        ixy="-1.2196E-22"
        ixz="1.846E-23"
        iyy="2.1303E-06"
        iyz="2.3155E-21"
        izz="2.3512E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/imu.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/imu.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu"
    type="fixed">
    <origin
      xyz="0.00018244 -0.12785 0.0708"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar">
    <inertial>
      <origin
        xyz="3.8691E-08 7.7574E-05 -0.012838"
        rpy="0 0 0" />
      <mass
        value="0.10251" />
      <inertia
        ixx="3.5311E-05"
        ixy="-2.0748E-11"
        ixz="-2.0839E-11"
        iyy="3.5051E-05"
        iyz="1.053E-07"
        izz="4.3497E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/lidar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://f1tenth_description/meshes/lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar"
    type="fixed">
    <origin
      xyz="0.00018244 0.0089812 0.1441"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="TFR_wheel">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
  </link>
  <joint
    name="TFR_wheel"
    type="revolute">
    <origin
      xyz="-0.096372 -0.18378 0.02"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="TFR_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5236"
      upper="0.5236"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="TFL_wheel">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
  </link>
  <joint
    name="TFL_wheel"
    type="revolute">
    <origin
      xyz="0.096372 -0.18378 0.02"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="TFL_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5236"
      upper="0.5236"
      effort="10"
      velocity="1" />
  </joint>
</robot>